* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}
@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-VariableFont_wght.ttf");
}
body {
  /*background:linear-gradient(rgba(175, 179, 177, 0.638),rgba(242, 214, 73, 0.575)), url("/run/media/mihago/826EC8136EC7FE43/DOWNLOADS/idea-main/Front-end/Road_to_green_Island-main/Le Parc national d'Isalo/Before/img1.jpg");*/

  background-repeat: no-repeat;
  background-size: 2000px;
}

.index_page {
  display: flex;
  flex-direction: row;
}

.image_hero {
  height: auto;
  width: 40%;
  background: url("/run/media/mihago/826EC8136EC7FE43/DOWNLOADS/idea-main/0f18912d-1c95-4fff-b2db-0762fda12439.jpeg");
}
.text {
  background: linear-gradient(rgb(46, 84, 54), rgba(18, 40, 23, 0.985));
  width: 60%;
  height: 100vh;
  color: #8bc597;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-left: 5%;
}

.textChild1 {
  font-size: 4rem;
  animation: appear 2s linear;
  border-bottom: 1px solid #2a5934;
  width: 60%;
  color: rgb(137, 232, 28) !important;
}
.textChild1::after {
  content: ".";
  font-size: 4rem;
}
.textChild2 {
  animation: appear 3s linear;
  font-size: 2rem;
}

.textChild3 {
  animation: appear 5s linear;
  font-size: 2rem;
}

.textChild4 {
  animation: appear 7s linear;
  font-size: 2rem;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.getstrated-Button {
  color: #fafdfb;
  text-decoration: none;
  border: solid black;
  margin-top: 0%;
  width: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #f95e26;
  font-size: 30px;
  font-weight: bold;
}
.getstrated-Button:hover {
  transition: 1s;
  background: #8bc597;
  color: rgb(42, 74, 70);
  border: 1px solid gold;
}
